appnope
asteval
astroid
asttokens
backcall
beautifulsoup4
biopython
blinker
bokeh
certifi
charset-normalizer
click
colorama
comm
corner
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
dill
emcee
executing
Flask
fonttools
future
h5py
idna
importlib_metadata
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy-object-proxy
llvmlite
lxml
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mendeleev
nest-asyncio
numba
numba-scipy
numdifftools
numpy
packaging
pandas
parso
patsy
pexpect
pickleshare
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure-eval
pyfiglet
Pygments
pylint
pyparsing
PyQt5
pyqtgraph
python-dateutil
python-docx
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
retrying
scipy
seaborn
six
soupsieve
SQLAlchemy
stack-data
statsmodels
tabulate
tenacity
toml
tornado
traitlets
typing_extensions
uncertainties
urllib3
wcwidth
Werkzeug
wrapt
xraydb
zipp
